body{
    margin:0;
    padding:0;
    background:#212121;
    width:1516px;
    min-width:1500px;
    min-height:100vh;
    
}

@font-face {
    font-family: Pangolin; 
    src: url(../fonts/Pangolin.ttf); 
}

h3,h4,p,ul{
    font-family:Pangolin,'Comic Sans MS';
    color:#c8c8c8;
}

#nav{
    float:left;
    width:250px;
    height:100vh;    
    display:block;        
}
#nav ul{
   list-style-type:none; 
   padding-top:70px;  
}

#nav ul li{
    padding:10px 0 10px 0;    
}

#nav button{
    width:80%;
    height:50px;
    text-decoration:none;
    position:relative;
    border-radius:5px;    
    font-family:Pangolin,'Comic Sans MS';   
    color:#333333; 
    font-size:1.2em;    
}

#nav button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


#header{    
    margin-left:250px;
    width:1268px;
    min-height:150px;
    background:url("../image/header_im.png");
    background-repeat:no-repeat ;
    background-size:100% 100%;   
}

#content{    
    margin-left:250px;
    padding:10px;
    width:1180px;
    height:70%;
    text-align:center;
}

#content h3{
    font-weight: bold;
    font-size:19px;
}   


#content>h4,ul{
    text-align:left;    
}

#content>img{
    margin:25px 0 0 0;
    border-radius:5px;
}

#content>img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#sidebar{    
    margin-left:250px;
    margin-bottom:50px;
    width:1180px;
    min-height:10vh;
    font-family:Pangolin,'Comic Sans MS';    
}
#sidebar ul{
    list-style-type:none;      
}

#sidebar ul li{
    padding:0 0 15px 5px;
    display:inline;  
}

#sidebar img{
    width:15%;
    height:15%;
}

#footer{
    margin-left:250px;
    position: fixed;
    width:1235px;
    bottom: 0;
    
    padding: 1rem;
    border-radius:10px;
    background-color: #363636;
    color:#bebebe;
    text-align: center;    
}

/**************************************************/

/* input box in default state */ 
.tcalInput {
	background: url('../img/cal.gif') 100% 50% no-repeat;
	padding-right: 20px;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../img/no_cal.gif');
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 170px;
	background-color: white;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	border: 1px solid silver;

	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('../img/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../img/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../img/next_mon.gif'); }
#tcalNextYear { background-image: url('../img/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	background-color: gray;
	color: white;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }